.back-button {
    margin: 3%;
}

.details {
    color: #0A8A87;
    font-size: 16px;
    padding-top: 0%;

}

figcaption {
    margin: 0%;
}

figure {
    justify-content: center;
}

.figure-img {
    margin: auto;
    margin-bottom: 3%;
}

.movie {
    background-color: #fff;
    padding: 7%;
    margin: auto;
    margin-top: 4%;
    max-width: 800px;
}

.value {
    color: #000;
}