* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
}

.back-button {
    margin: 3%;
}

button.back-button.btn.btn-primary:active {
    background-color: #0A8A87;
    border-color: #0A8A87;
    color: #fff;
}

.details {
    color: #0A8A87;
    font-size: 16px;
    padding-top: 0%;

}

figcaption {
    margin: 0%;
}

figure {
    justify-content: center;
}

.figure-img {
    margin: auto;
    margin-bottom: 3%;
}

.movie {
    background-color: #fff;
    padding: 7%;
    margin: auto;
    margin-top: 4%;
    max-width: 800px;
}

.value {
    color: #000;
}