* {
    box-sizing: border-box;
    margin: 2%;
}

.card-body {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
    padding: 1%;
}

.card {
    margin: 2%;
    padding: 2%;
    align-self: center;
    border-radius: 0%;
}