* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
}

.label {
    color: #000;
}

.value {
    color: #000;
}

.back-button {
    margin: 3%;
    margin-left: 5%;
    margin-top: 0%;
}

.back-button:active {
    background-color: #0A8A87;
    border-color: #0A8A87;
    color: #fff;
}