* {
    box-sizing: border-box;
}

body {
    background-color: #172742;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
    margin: auto;
}