.card {
    min-width: 350px;
    max-width: 400px;
    padding: 2%;
    border-radius: 0%;
    margin: 3%;
}

.card-deck {
    justify-content: center;
    margin: auto;
}

.card-img-top {
    margin: 0%;
    padding: 1%;
    padding-bottom: 5%;
}

.card-title {
    margin-right: 15%;
}

.flexbox {
    position: absolute;
    margin-left: 75%;
    margin-top: -2%;
}

.favme {
    font-size: 26px;
    cursor: pointer;
    color: #CBCDCE;

    &.active {
        color: #BD2099;
    }

    &:hover {
        animation: favme-hover .4s;
    }
}

@keyframes favme-hover {
    from {
        font-size: 26px;
    }

    50% {
        font-size: 30px;
    }

    100% {
        font-size: 26px;
    }
}

@media all and (max-width: 576px) {
    .card {
        margin: auto;
    }

    .card-deck {
        margin-top: 5%;
    }
}