.deregister-btn {
    position: absolute;
    margin-left: 60%;
    margin-right: 8%;
}

button.deregister-btn.btn.btn-primary:active {
    background-color: #0A8A87;
    border-color: #0A8A87;
    color: #fff;
}

button.ok-btn.btn.btn-primary:active {
    background-color: #0A8A87;
    border-color: #0A8A87;
    color: #fff;
}

.user-profile {
    background-color: #fff;
    padding: 3%;
    margin: 0%;
    margin-top: 4%;
}