button.deregister-btn.btn.btn-primary {
    position: absolute;
    right: 25%;
    margin-top: 0px;
    margin-right: 0px;
}

.movie-link {
    color: #000;
    padding: 0px;
}

.movie-link:hover {
    color: #0A8A87;
}

.user-profile {
    background-color: #fff;
    padding: 5%;
    margin: auto;
    margin-top: 4%;
    max-width: 900px;
}

@media all and (max-width: 576px) {
    button.deregister-btn.btn.btn-primary {
        right: 10%;
    }
}