* {
    box-sizing: border-box;
}

body {
    background-color: #172742;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
}

.main-view {
    width: 85%;
    justify-content: center;
    margin: auto;
}

.btn-primary {
    border-color: #BD2099;
    border-radius: 0px;
    margin-bottom: 0%;
    background-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #BD2099;
    border-color: #BD2099;
    color: #fff;
    transition-duration: 0.5s opacity;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #fff;
    border-color: #0A8A87;
    color: #0A8A87;
}

.nav-link.disabled {
    font-weight: 600;
}

.navbar {
    background-color: #172742;
    margin: auto;
    margin-left: -2%;
    padding: 0%;
    width: 103%;
    padding-right: 3%;
    height: 65px;
    justify-content: space-between;
}

.navbar-collapse {
    background-color: #172742;
    min-width: 104%;
    margin: 0px;
    height: 65px;
    right: -3%;
    position: relative;
    padding: 1px;
}

.navbar-nav {
    white-space: nowrap;
    width: 65%;
    margin-left: auto;
    margin-right: 0%;
    border-bottom-color: #BD2099;
}

.nav-link {
    margin: 0%;
    border-radius: 0%;
    font-size: 16px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #BD2099;
    background-color: #172742;
}

.nav-tabs .nav-link:active,
.nav-link:active {
    background-color: #BD2099;
    color: #fff;
}

.logout-btn {
    white-space: nowrap;
    font-size: 16px;
    margin-left: 35%;
    margin-top: 3%;
}

@media all and (max-width: 576px) {
    * {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
    }

    .navbar-collapse {
        top: -8%;
        height: auto;
        right: 0%;
    }

    .navbar-toggler.collapsed,
    .navbar-toggler.collapsed:focus {
        border: 0.5px solid #BD2099;
    }

    .nav-link.disabled {
        display: none;
    }

    .main-view {
        width: 98%;
        justify-content: center;
        margin: auto;
    }

    #root {
        padding: 2%;
        width: 100%;
        margin: 0px;
        margin-top: 3%;
    }
}